<div class="row">
    <div class="col text-center">
      <a routerLink='/leaderboard'><img src="/companion-app/assets/images/login-logo.png" class="primaryImage" alt="Login Logo" /></a>

      <form>
        <div class="form-group">
          <input #nickname type="text" class="form-control" id="name" required placeholder="Enter Your Nickname..."/>
        </div>

        <button type="button" class="btn btn-success" (click)="onRegister(nickname.value)">Let's Play!</button>
      </form>
  </div>
</div>
