<div class="row">
    <div class="col text-center clearBoth">
        <p class="gameBar">
            <span class="leftAlign">
                User: {{user.nickname}}
            </span>
            <span class="rightAlign">
                Score: {{user.score}}
            </span>
            <span class="timer">
                <!-- TODO: Insert timer code here -->
            </span>
        </p>
        <img src="../../../resources/{{question.questionImage}}" class="primaryImage" alt="Hint Image..." />
        <div class="questionText">Question:
            {{question.questionText}}
        </div>
        <div class="questionChoices">
            <div *ngFor="let choice of question.choices" class="questionChoice">{{choice}}</div>
        </div>
        <button type="button" class="btn btn-success rightAlign" name="Send Answer">Send Answer</button>
        <div class="questionFooter">
            <button type="button" class="btn btn-danger leftAlign" (click)="passQuestion()">PASS</button>

        </div>
    </div>
</div>
