<div class="row">
    <div class="col text-center clearBoth">
        <p style="margin-bottom: 2em;">
            <span class="leftAlign">
                {{user.nickname}}
            </span>
            <span class="rightAlign">
                Score: {{user.score}}
            </span>
        </p>
        <img src="/companion-app/assets/images/login-logo.png" class="primaryImage" alt="Hint Image..." />
        <!-- <img src="../../../resources/{{question.questionImage}}" class="primaryImage" alt="Hint Image..." /> -->
        <div class="questionText">Question:
            {{question.questionText}}
        </div>
        <div class="questionChoices">
            <div *ngFor="let choice of question.choices" class="questionChoice">{{choice}}</div>
        </div>
        <button type="button" class="btn btn-success rightAlign" name="Send Answer">Send Answer</button>
        <div class="questionFooter">
            <div class="timer">
                <!-- TODO: Insert timer code here -->
            </div>
            <button type="button" class="btn btn-danger leftAlign" (click)="passQuestion()">PASS</button>

        </div>
    </div>
</div>
