/* You can add global styles to this file, and also import other style files */

body {
    background: linear-gradient(0deg,rgb(50, 56, 150),rgb(67, 121, 188));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
}

button {
    width: 100% !important;
}

.primaryImage {
    width: 100%;
    height: auto;
    max-height: 400px;
    margin: 0em 0em 1em 0em;
    clear: both;
    color: #ffa600;
}

.gameBar {
    overflow: auto;
}

.timer {
    height: 0.5em;
    clear: left;
    display: block;
    overflow: auto;
    background-color: rgb(25, 233, 36);
}

.questionText {
  font-size: 100%;
}

.questionChoices {
    margin: 0em 0em 1em 0em;
}


.leaderboardTable {
  margin: 0 auto;
  font-size: 135%;
  text-align: center;
}


.clearBoth {
    clear: both;
}

.leftAlign {
    float: left;
}
.rightAlign {
    float: right;
}

.questionImage {
  display: inline-block;
  margin: 10px;
}

.questionChoice {
  font-size: 85%;
  text-align: left;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  display: inline-block;
  width: 85%;
  padding: 0.5em;
  background-color: #06074f;
  text-shadow: black 1px 1px;
  margin: 5px;
}

.leaderboardEntry {
  box-shadow: black;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}

.selected {
  background-color: lightgreen;
  color: black;
  text-shadow: lightgray 1px 1px;
}

table {
  width: 50%;
}
