/* You can add global styles to this file, and also import other style files */

body {
  background: radial-gradient(ellipse,rgb(67, 121, 188), rgb(50, 56, 150));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

.primaryImage {
  width: 100%;
  height: auto;
  max-height: 540px;
  margin: 0em 0em 1em 0em;
  clear: both;
}


.gameBar {
  overflow: auto;
}

.timer {
	clear: left;
	display: block;
	overflow: auto;
}

.clearBoth {
  clear: both;
}

.leftAlign {
  float: left;
}
.rightAlign {
  float: right;
}
